html, body {
    width:500px;
    height:900px;
    margin:0;
    padding:0;
    background-image: url(sea1.png);
    background-repeat:none;
    background-size: cover;
}

/*.frame {
    overflow: hidden;
    width:800px;
    height:600px;
    border-radius:50%;
    position:absolute;
    left:50%;
    background-color:#3668b3;
    background-image:linear-graddient(1000deg, #4a7892 0%, #00a4a4 74%);
    top:50%;
    transform: translate(-50%, -50%);
    border: 10px solid #6a8794;
    box-shadow: 0 0 10px 5px rgb(66, 64, 64);
}*/
svg {
    position:absolute;
    margin-top:20px;
    width:80%;
    height:500px;
    margin-left:-235px;
    position:absolute;
    animation: swim 20s;
    -webkit-animation:swim 20s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
}
.yellowhaima {
    position:relative;
    width:80%;
    height:500px;
    margin-left:-235px;
    position:absolute;
    animation: swim 20s;
    -webkit-animation:swim 20s;
    animation-iteration-count:infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
}

.dimian {
    position: fixed;
    padding:20px;
    margin-bottom: 0px;
    margin-left: 50px;
}
.haigui, .haima {
    position: fixed;
    margin-bottom:100px;
    margin-right:1px;
    animation: haima 8s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
}
.wuze {
    position:absolute;
    margin-top:100px;
    width:10px;
    height:10px;
    margin-left:-235px;
    position:absolute;
    animation: jump 20s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.fish {
    position:absolute;
    margin-top:120px;
    width:10px;
    height:10px;
    margin-left:-235px;
    animation: swim 20s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.hongbao1 {
    margin-left:30px;
}
.hongbao2 {
    position:fixed;
    margin-top:20px;
    margin-left:-235px;
    animation: swim 4s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
.hongbao3 {
    position:fixed;
    margin-top:20px;
    margin-left:-235px;
    animation: swim 5s;
    animation-iteration-count:infinite;
    animation-timing-function: cubic-bezier(0.1, 0.2, 0.1, 0.2);
}
@-webkit-keyframes swim {
    0% {margin-left:-235px;}
    90% {margin-left:100%;}
    100% {margin-left:100%;}
}
@keyframes swim {
    0% {margin-left: -235px;}
    70% {margin-left: 100%;}
    100% {margin-left:100%}
}

@keyframes jump {
    0% {margin-top:-235px;}
    50% {margin-top:50%;}
    70% {margin-left:80%;}
    100% {margin-left:10%;}
}
@keyframes haima {
    0% {height:20px;}
    50% {height:25%;}
    100% {height:15%;}
}
svg #svg_1,
svg #svg_2,
svg #svg_3,
 {
fill:#886852;
}


.bubble-frame {
    position:absolute;
    width: 580px;
    height: 600px;
}

.bubbles {
    position: absolute;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 0 0 2px 0 gray;
    border-radius: 50%;
}
.small {
    width:20px;
    height:20px;
    -webkit-animation:animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.medium {
    width: 10px;
    height: 10px;
    -webkit-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 15s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

@-webkit-keyframes animateBubble {
    0% {margin-top:1000px;}
    100% {margin-top:-100%;}
}

@-moz-keyframes animateBubble {
    0% {margin-top:1000px;}
    100% {margin-top:-100%;}
}

@keyframes animateBubble {
    0% {margin-top:1000px;}
    100% {margin-top:-100%}
}
@-webkit-keyframes sideWays {
    0% {margin-left:0px;}
    100% {margin-left:50px;}
}
@keyframes sideWays {
    0% {
        margin-left:0px;
    }
    100% {margin-left:50px;}
}
